version: 2.1

orbs:
    node: circleci/node@4.1

jobs:
    build-and-test:
        docker:
            - image: cimg/node:16.7.0
        steps:
            - checkout
            - run:
                  name: Install
                  command: npm install
            - run:
                  name: Run tests
                  command: npm test

workflows:
    Error Test:
        jobs:
        - build-and-test:
            filters:
                branches:
                    only: master
